# Ignore user-specific files
*.DS_Store
xcuserdata
xcuserdata/*
*.xcuserstate

# Ignore build artifacts
build/

# Ignore environments 
.env

# Ignore config directory
config/

iOS/HeartLink/HeartLink/GoogleService-Info.plist
iOS/HeartLink/HeartLink/Info.plist